<ul class="contact_info">
  <li>ID: <%= @contact.id %></li>
  <li class="first_name">First Name: <%= @contact.first_name %></li>
  <li>Last Name: <%= @contact.last_name %></li>
  <li>Email: <%= @contact.email %></li>
  <li>Notes: <%= @contact.notes %></li>
<ul>

