<div class="profile_pic">
</div>

<ul class="contact_info">
  <li class="first_name">First Name: <%= @contact.first_name %></li>
  <li class="last_name">Last Name: <%= @contact.last_name %></li>
  <li>ID: <%= @contact.id %></li>
  <li>Email: <%= @contact.email %></li>
  <li>Notes: <%= @contact.note %></li>
<ul>

<div class="form_controls">
<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit"  name="Delete Contact" value="Delete">

</form>
<a href="/contacts/<%= @contact.id %>/edit">Edit</a>
</div>
